body{
    font-family: Helvetica Neue, Helvetica, sans-serif;
    color: white;
    background-color: #09f;
    
}

@media (max-width: 400px){
  
  
  .profile-pic{
    width: auto;
    height: auto;

  }
  .box{
    width: 350px;
    height: 300px;
    display: flex;

  }
  .nextToEachOther{
    display: flex;
    flex-direction: column;
    
  }
  .stats{
    display: none;

  }

  .skills{
    display: block;
    
  }

  .foto{
    width: 100px;
    height: 100px;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }
  
}

h1{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



h2{
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h3{
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    margin: auto;
    margin-left: 5px;
}

.punt{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


table, th, td {
    border: 1px solid;
    
  }


.title{
  text-align: center;
  font-size: 30px;
}

img{
  width: 200px;
  margin: 0%;
}

.box{
  display: flex;
  border: #ddd;
  border-radius: 5px solid white;
  width: auto;
  margin: auto;
  border: 5px solid ;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 7px 10px 17px rgba(0,0,0);
  
}


.card{
    display: block;
    width: 30vw;
    margin: auto;
    border: 4px  ;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 7px 10px 17px rgba(0,0,0);
    margin-bottom: 5%; 
    text-align: center;  
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    
}

.nextToEachOther{
  display: flex;
  justify-content: space-around;
}

.underEachOther{
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.profile-pic{
    width: 100%;
    
    
}

.kampioen{
  width: 100%;
  
  
}

.container{
  display: flex;
  justify-content: space-between;
}

.skills{
    padding: 10px;
}

.contact{
    text-align: center;
    padding: 10px;
    background-color: darkblue;
}

.contact a {
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
}

.name{
    font-size: 2en;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 5px;
}



  .footer-basic {
    padding:40px 0;
    background-color:black;
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }