body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    background-color: lightblue;
}

table, th, td {
    border: 1px solid;
    
  }

.card{
    
    width: 50vw;
    margin: auto;
    border: 4px solid darkblue;
    background-color: lightblue;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 7px 10px 17px rgba(0,0,0);
    margin-bottom: 5%;
    
}

.profile-pic{
    width: 100%;
    
    
}

.skills{
    padding: 10px;
}

.contact{
    text-align: center;
    padding: 10px;
    background-color: darkblue;
}

.contact a {
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
}

.name{
    font-size: 2en;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: darkblue;
    color: white;
  }

  .footer-basic {
    padding:40px 0;
    background-color:darkblue;
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }
  